---
import ContentLayout from "@/layouts/ContentLayout.astro";
// page meta data
const PageTitle = "メンバー";
const PageDescription = "細田研究室メンバーの一覧";
---

<ContentLayout title={PageTitle} description={PageDescription} >
  <div class="">

  </div>
</ContentLayout>
