---
import ContentLayout from "@/layouts/ContentLayout.astro";
// page meta data
const PageTitle = "お問い合わせ";
const PageDescription = "細田研究室へのお問い合わせ方法です。";
---

<ContentLayout title={PageTitle} description={PageDescription}>
    <div class="container mx-auto px-10 my-10">
        <h1 class="text-2xl md:text-4xl font-bold">アクセス</h1>
        <div class="my-3">
            <h2 class="font-semibold">東北大学情報科学研究科</h2>
            <p>〒980-8579 仙台市青葉区荒巻字青葉6番3号09</p>
            <p>交通アクセス：地下鉄東西線 青葉山駅下車 北1出口を出て右方向 徒歩1分</p>
        </div>
        <div class="my-3">
            <h2 class="font-semibold">東北大学加齢医学研究所</h2>
            <p>〒980-8575 仙台市青葉区星陵町4-1</p>
            <p><a href="https://www.idac.tohoku.ac.jp/site_ja/maps-directions/" class="link-accent">交通アクセス</a></p>
        </div>

        <div class="container mx-auto px-10 my-10">
            <section class="container mx-auto">
                <h1 class="text-2xl font-bold">お問い合わせはフォームにお願いいたします。</h1>
                <div class="container mx-auto w-full">
                    <iframe
                            src="https://docs.google.com/forms/d/e/1FAIpQLSflUfRzwB6Jlj-QTI2LvNwzZ7-clR4ERtVkKa-2Gqj-KX2T5g/viewform?embedded=true"
                            width="700" height="1200" frameborder="0" marginheight="0" marginwidth="0"
                            class="w-full">読み込んでいます…
                    </iframe>
                </div>
            </section>
        </div>
</ContentLayout>
