---
import ContentLayout from "../layouts/ContentLayout.astro"
// page meta data
const PageTitle = 'コミュニティガイドライン'
const PageDescription = '細田研究室コミュニティガイドラインです。'
---


<ContentLayout title={PageTitle} description={PageDescription}>
    <div class="container mx-auto px-10">
        <h1 class="text-2xl md:text-4xl font-bold test-primary my-10">コミュニティガイドラインVer.1</h1>
        <div class="space-y-3">
            <p>
                細田千尋准教授研究室(以下、「当研究室」)が運営する東北大学
                細田千尋研究公式Youtube及びInstagramアカウント(以下総称して、「本サービス」)を閲覧いただきありがとうございます。
                <br/>
                皆様とのより良いコミュニケーションを実現するため、下記のコミュニティガイドライン（以下,「本規約」）を策定しております。本サービスのご利用にあたっては、本規約に合意の上ご利用ください。
                <br/>
                策定日： 2024年2月20日
            </p>
            <div class="text-xl font-semibold">第1条（本規約の範囲）</div>
            <p>
                本規約は本サービスを利用、閲覧等される全てのご利用者（以下「利用者」といいます。）に対して適用するものとします。
            </p>
            <div class="text-xl font-semibold">
                第2条（運営について）
            </div>
            <ul class="list-disc">
                <li>当研究室は、本サービスにおいて、利用者から投稿されたコメント等の全てに返信するものではありません。</li>
                <li>
                    当研究室は、本サービスをフォローしていただいた全てのユーザーをフォローするものではありません。また、ユーザーが本サービスをフォローしていない場合であっても、当研究室がフォローさせていただく場合もございます。
                </li>
                <li>
                    当研究室は、本サービスにおいて、利用者から投稿されたコメント等に関するお問い合わせに関しては、お答えできません。
                </li>
                <li>
                    当研究室は、Youtube及びInstagramのシステム状況、並びにYoutube及びInstagramに第三者から提供されたソフトウェアやアプリケーション等の機能、ご利用方法及び技術的なご質問等に関しては、お答えできません。
                </li>
                <li>当研究室は予告なく本サービスの全部又は一部の運営を終了、一時停止、変更等をすることがあります。</li>

            </ul>
            <div class="text-xl font-semibold">第3条（注意事項）</div>

            <ul class="list-disc">
                <li>
                    当研究室は、利用者が本サービスを通じて取得する情報について、その正確性、有用性、最新性、適切性等その内容について何ら法的保証をするものではありません。
                </li>
                <li>
                    当研究室は、利用者が本サービスに投稿した全ての情報について、一切の責任を負いません。利用者は、自らが投稿した情報に関して一切の責任を負うものとし、当該情報に起因するあらゆる主張又は請求につき、利用者の費用をもって全てこれを処理解決して、当研究室に損害を及ぼさないものとします。
                </li>
                <li>利用者に対し、本サービスの品質又は性能については如何なる保証も行いません。</li>
                <li>
                    また、利用者に対し、本サービスの一時停止、中止、欠陥及びそれらに起因又は関連して発生したすべての損失や損害については、一切責任を負いません。
                </li>
                <li>
                    本サービスに関連して生じた利用者間のトラブルまたは利用者と第三者との間のトラブルによって利用者または第三者の被った損害について責任を負いません。
                </li>
                <li>
                    投稿にかかる著作権等は、当該投稿を行ったユーザー本人に帰属しますが、投稿されたことをもって、ユーザーは当研究室に対し、投稿コンテンツを、全世界において無償で非独占的に使用する（加工、抜粋、複製、公開、翻訳などを含む）権利を許諾したものとし、かつ、当研究室に対して著作者人格権を行使しないことに予め承諾したものとします。
                </li>
            </ul>
            <div class="text-xl font-semibold">
                第4条(禁止事項）
            </div>

            <p>
                本ページをご利用される際には、以下のような行為はご遠慮ください。ユーザーの行為が以下のいずれかに該当する場合、投稿の削除や投稿アカウントのブロックをすることがあります。
            </p>

            <ul class="list-disc">
                <li>
                    当研究室及び当研究室サービスに関しての大学への問い合わせ。当研究室サービスにご連絡を頂いてもご返信の保証は致しません。
                </li>
                <li>当研究室及び当研究室サービス、他の利用者、第三者の著作権、肖像権、その他知的財産権を侵害する行為。</li>
                <li>当研究室及び当研究室サービス、他の利用者、第三者の財産、信用、プライバシー等を侵害する行為。</li>
                <li>真偽を問わず、当研究室及び当サービス、他の利用者、第三者を誹謗中傷する行為。</li>
                <li>
                    個人情報（メールアドレス、住所、電話番号、その他プライベート情報）を、当研究室及び当該個人の事前の承諾なく、他の利用者や第三者に送付、伝達、開示、複写、書き込みをする行為。
                </li>
                <li>ウィルス、ハッキング等により本サービスの運営を妨害又は破壊する行為。</li>
                <li>脅し、猥褻、名誉毀損、差別行為、政治活動、宗教活動、又はそれらにつながる行為。</li>
                <li>
                    当研究室の事前の許可なく営業活動、人材採用活動、又は、アフィリエイト、営業目的サイトへの誘導、リンク等、営利を目的として行う一切の行為。
                </li>
                <li>公序良俗に反する行為、犯罪行為又はそれらと密接に関連する行為。</li>
                <li>法律、法令違反又はそれらと密接に関連する行為。</li>
                <li>あらゆる種類の広告バナー交換やリンク交換を含む広告バナーの表示等の行為。</li>
                <li>YouTubeの「YouTubeパートナープログラム」に収益化を目的とした行為。</li>
                <li>その他本サービスの目的に反する行為。</li>
            </ul>
            <div class="text-xl font-semibold">第5条　切り抜きについて</div>

            <p>
                個人のサポーターは、当研究室のサービス切り抜き素材を利用した動画や静止画等を、適切な動画や静止画の共有サイトに投稿することができます。本ガイドラインは、当サービスに楽しく参加し、楽しく感じたことを共有する際のガイドラインです。
            </p>

            <ul class="list-disc">
                <li>他の事業の宣伝や広告を行う目的で、二次配信を利用することはできません。</li>
                <li>次のような表現内容の作品は、公開することはできません。</li>
                <li>当研究室のイメージを損なう、または第三者の名誉・品位等を傷つけるもの</li>
                <li>
                    悪意のある編集で当研究室のサービス出演者の名誉を傷つけるもの（配信者側の故意がなくとも、客観的に当研究室が悪意と感じるものを含みます）
                </li>
                <li>当研究室のサービス出演者のプライバシーを侵害するもの</li>
                <li>
                    （当研究室のサービスへの出演者が過去に共有したものやプライベートアカウントによってシェアされたものを含みます）
                </li>
                <li>故意の切り抜きや編集によって、エログロ表現またはそれを連想させるもの</li>
                <li>公序良俗に反するまたは反社会的な表現を含むもの</li>
                <li>特定の思想・信条または宗教的、政治的メッセージを内容とする表現を含むもの</li>
                <li>第三者の権利を侵害するもの</li>
                <li>
                    違法または上記ガイドラインを侵害する不適切な投稿や公序良俗に反する投稿、このガイドラインに従わない投稿に対して、法的措置を講じます。（上記ルールに沿わないと判断する動画は当研究室より動画を削除させていただきます。）
                </li>
                <li>
                    当研究室サービスの切り抜き素材を共有サイトで二次配信する場合は、営利を目的としない場合、また上記3項の禁止事項ルールを厳守した動画に限り、投稿することができます。YouTubeの「YouTubeパートナープログラム」による投稿の収益化は禁止させて頂きます。
                </li>
                <li>
                    事実に反して、当研究室や当研究室の関係者から、協賛や提携を受けているようなことを示唆したり、誤信させたりしないでください。
                </li>
            </ul>
            <div class="text-xl font-semibold">
                第6条（準拠法・裁判管轄）
            </div>

            <p>
                本規約は、日本法に準拠します。利用者による本サービスの利用等に係わる一切の紛争は、
                仙台地方裁判所を第一審の専属的合意管轄裁判所とします。
            </p>

            <div class="text-xl font-semibold">
                第7条（本規約の変更）
            </div>
            <p>
                本サービス利用者の承諾なしに、本規約を変更することができるものとします。
            </p>
            <p>
                変更後の規約については、オンライン上に表示した時点より、効力を生じるものとします。
            </p>

        </div>
    </div>
</ContentLayout>