---
import ContentLayout from "@/layouts/ContentLayout.astro"
// page meta data
const PageTitle = "ニュース"
const PageDescription = '細田研究室でのニュースの一覧です。'

---

<ContentLayout title={PageTitle} description={PageDescription}>
  <div class="container mx-auto px-5">

  </div>
</ContentLayout>
