---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl } from "../i18n/utils";

const NavLinks = [
  { label: "研究業績", href: "/publications/index.html" },
  { label: "産学連携", href: "/collaboration/index.html" },
  { label: "細田千尋", href: "/aboutMe/index.html" },
  { label: "ニュース", href: "/news/index.html" },
  { label: "お問い合わせ", href: "/contact/index.html" },
];
---

<nav class="">
    <div class="w-full px-5 py-3 flex">
        <!-- 左揃え -->
        <div class="flex-1">
            <div>
                <button class="btn btn-ghost text-2xl font-bold ">
                    <a href={getLangFromUrl(Astro.url) === "ja" ? "/" : getRelativeLocaleUrl("en", "")}>細田研究室</a>
                </button>
            </div>
        </div>

        <!-- 右揃え -->
        <div class="flex-none flex ">
            <div class="lg:flex space-x-4 hidden mx-6">
                {
                    NavLinks.map((navLink) => {
                        return (
                                <div>
                                    <a href={navLink.href}>
                                        <button class="btn btn-ghost p-5">
                                            {navLink.label}
                                        </button>
                                    </a>
                                </div>
                        )
                    })}
            </div>
            <div class="flex lg:hidden">
                <div class="mx-8">
                    <div class="dropdown dropdown-end">
                        <div tabindex="0" role="button" class="btn m-1">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                class="inline-block w-9 h-9 stroke-current">
                            <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
                        </svg>
                        </div>
                        <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                            {
                                NavLinks.map((navLink) => {
                                    return (
                                            <li>
                                                <a href={navLink.href}>
                                                    <button class="btn btn-ghost p-2">
                                                        {navLink.label}
                                                    </button>
                                                </a>
                                            </li>
                                    )
                                })}
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-secondary ">
                    {
                        getLangFromUrl(Astro.url) === "ja" ?
                                <a href={getRelativeLocaleUrl("en", "")}>English</a>
                            : <a href="/">Japanese</a>
                    }

                </button>
            </div>
        </div>
</nav>