---
import {getRelativeLocaleUrl} from "astro:i18n";
import {getLangFromUrl} from "../i18n/utils";

const NavLinks = [
    {label: "研究業績", href: "/publications/index.html"},
    {label: "産学連携", href: "/collaboration/index.html"},
    {label: "細田千尋", href: "/aboutMe/index.html"},
    {label: "ニュース", href: "/news/index.html"},
    {label: "お問い合わせ", href: "/contact/index.html"},
];
---

<nav class="">
    <div class="w-full px-5 py-3 flex">
        <!-- 左揃え -->
        <div class="flex-1">
            <div>
                <button class="btn btn-ghost text-2xl font-bold ">
                    <a href={getLangFromUrl(Astro.url) === "ja" ? "/" : getRelativeLocaleUrl("en", "")}>細田研究室</a>
                </button>
            </div>
        </div>

        <!-- 右揃え -->
        <div class="flex-none flex">
            <div class="lg:flex space-x-4 hidden mx-6">
                {
                    NavLinks.map((navLink) => {
                        return (
                                <div>
                                    <button class="btn btn-ghost ">
                                        <a href={navLink.href}>{navLink.label}</a>
                                    </button>
                                </div>
                        )
                    })}
            </div>
            <div>
                <button class="btn btn-secondary ">
                    {
                        getLangFromUrl(Astro.url) === "ja" ?
                                <a href={getRelativeLocaleUrl("en", "")}>English</a>
                            : <a href="/">Japanese</a>
                    }

                </button>
            </div>
        </div>
</nav>